{% include 'header.html' %}
<br>
<a href="proveedores/create" class="btn btn-success">
    Ingresar proveedores
</a>
<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
        <tr>
            <td>{{proveedor[0]}}</td>
            <td>{{proveedor[1]}}</td>
            <td>{{proveedor[2]}}</td>
            <td>{{proveedor[3]}}</td>
            <td>{{proveedor[4]}}</td>
            <td> <a href="/proveedores/edit/{{proveedor[0]}}" class="btn btn-info"> Editar</a> ||
                <a onclick="return confirm('Seguro que quieres borrar?')" href="/proveedores/destroy/{{proveedor[0]}}" class="btn btn-danger"> Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'footer.html' %}