{% include 'header.html' %}
<br>
<a href="ventas/create" class="btn btn-success">
    Ingresar Ventas
</a>
<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>ID Productos</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for venta in ventas %}
        <tr>
            <td>{{venta[0]}}</td>
            <td>{{venta[1]}}</td>
            <td>{{venta[2]}}</td>
            <td>{{venta[3]}}</td>
            <td>{{venta[4]}}</td>
            <td>{{venta[5]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'footer.html' %}