{% include 'header.html' %}

{% with messages = get_flashed_messages() %}

{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}

{% endwith %}

<form method="post" action="/movimientos/store" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            Ingresa datos del movimiento
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del movimiento:</h5>
            <p class="card-text">

            <div class="form-group">
                <label for="txtIDProducto">ID del producto:</label>
                <input id="txtIDProducto" class="form-control" type="text" name="txtIDProducto">
            </div>

            <div class="form-group">
                <label for="Tipo">Tipo:</label>
                <select id="Tipo" class="form-control" name="Tipo">
                    <option value="entrada">entrada</option>
                    <option value="salida">salida</option>
                </select>
            </div>


            <div class="form-group">
                <label for="txtFecha">Fecha:</label>
                <input id="txtFecha" class="form-control" type="date" name="txtFecha">
            </div>

            <div class="form-group">
                <label for="txtCantidad">Cantidad:</label>
                <input id="txtCantidad" class="form-control" type="number" name="txtCantidad">
            </div>

            <br>

            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Agregar">
                <a href="/movimientos" class="btn btn-primary">Regresar</a>


                <!-- Button trigger modal -->
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Mostrar Productos
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Productos</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-light">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for producto in productos %}
                                        <tr>
                                            <td>{{producto[0]}}</td>
                                            <td>{{producto[1]}}</td>
                                            <td>{{producto[3]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            </p>
        </div>
    </div>
</form>
{% include 'footer.html' %}