{% include 'header.html' %}
<br>
<a href="movimientos/create" class="btn btn-success">
    Ingresar movimientos
</a>
<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>ID movimiento</th>
            <th>Fecha movimiento</th>
            <th>Tipo de movimiento</th>
            <th>Cantidad del movimiento</th>
            <th>Nombre producto</th>
        </tr>
    </thead>
    <tbody> 
        {% for movimiento in movimientos %}
        <tr>
            <td>{{movimiento[3]}}</td>
            <td>{{movimiento[4]}}</td>
            <td>{{movimiento[5]}}</td>
            <td>{{movimiento[6]}}</td>
            <td>{{movimiento[1]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'footer.html' %}